.container{
    width: 1106px;
    margin: 0 auto;
}
@media screen and (max-width:768px) {
    .container{
        width: 689px;
        margin: 0 auto;
    }
}
@media screen and (max-width:375px) {
    .container{
        width: 311px;
        margin: 0 auto;
    }
}